@charset "UTF-8";
/* CSS Document */
*{
  box-sizing : border-box;
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
img{
  display: block;
  width: 100%;
}
.list-item{
     list-style: none;
}
#body-text {
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
}
#footer{
     background-color: #343a40;
     color: #ffffff;
     padding: 25px 25px;
}
/*----------------------------------------------------*/
                  /*INDEX - HOME PAGE*/

/*----------------------------------------------------*/
                  /*ABOUT PAGE*/

/*----------------------------------------------------*/
                  /*NAVIGATION*/
.contact-img {
     background-image: url("./images/carousel.jpg");
     height: 400px;
}
